body{
    margin: 0;
    height: 100vh;
    background-color: slategrey;
}
/*Start header CSS*/
header{
    margin: 0;
    position: fixed;
    top: 0;
    background-color: burlywood;
    width: 100%;
}

@media (min-width: 768px) {
    header{
        height: 8rem;
    }
}
/*Image Style Start*/
header img{
    margin: 1.2rem;
    border-radius: 30%;
    width: 6rem;
    height: auto;
}

@media (min-width: 768px) {
    header img{
        transform: rotate(90deg);
        margin-left: 10%;
        position: relative;
        top: -32%;
    }
}
/*Image Style End*/
/*Nav Style Start*/
nav{
    position: absolute;
    top: 12%;
    right: 6%;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif
}

@media (min-width:768px) {
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        height: 4rem;
    }    
}

nav ul{
    list-style: none;
}

@media (min-width:768px) {
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        top: 24%;
        right: 4%;
    }    
}

nav li{
    margin-bottom: 6%;
}

.nav-link{
    color: white;
    text-decoration: none;
}
/*Image Style End*/

/*End Header CSS*/
