body{
    margin: 0;
    height: 100vh;
    background-color: slategrey;
}
/*Start header CSS*/
header{
    display: grid;
    grid-auto-flow: column;
    background-color: burlywood;
}

@media (min-width: 700px) {
    header{
        display: flex;
        align-items: center;
        background-color: burlywood;
    }
    
}

/*Image Style Start*/
.header-img{
    display: flex;
    flex-grow: inherit;
}

@media (min-width: 700px) {
    .header-img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28%;
    }
}

header img{
    margin:1.5%;
    border-radius: 30%;
    width: 6rem;
    height: auto;
}

@media (min-width: 700px) {
    header img{
        transform: rotate(90deg);
        margin-left: 8%;
    }    
}

/*Image Style End*/
/*Nav Style Start*/
.header-nav{
    display: flex;
    align-items: center;
    justify-content: end;
}

nav{
    padding-right: 2%;
}

@media (min-width:700px) {
    nav{
        width: 35rem;
        height: fit-content;
    }
}

nav ul{
    list-style: none;
}

@media (min-width:700px) {
    nav ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: fit-content;
    }
}

nav li{
    padding-bottom: 8%;
}

@media (min-width:700px) {
    nav li{
        padding: 0;
    }
}

nav a{
    text-decoration: none;
    color: white;
}

/*Image Style End*/

/*End Header CSS*/

/*Start Image carousel*/

.media-scroller{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;

    gap: 0.8rem;
    
    overflow-x: auto;
    overscroll-behavior-inline: contain;

    text-align: center;
}

.media-element a{
    text-decoration: none;
    color: gainsboro;
    font-size: 1.6rem;
    position: relative;
    top: -50%;
}

.media-element img{
    width: 100%;
}

/*.container{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 16rem;
    position: relative;
    top: 14rem;
    overflow-x: scroll;
}

.container::-webkit-scrollbar{
    height: 0;
    width: 0;
}

@media (min-width:500px) {
    .container{
        display: flex;
        justify-content: start;
        align-items: center;
        width: 95%;
        height: 16rem;
        position: relative;
        top: 14rem;
        left: 0.8rem;
        overflow-x: scroll;
    }
    
}

@media (min-width:768px) {
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height:24rem;
        margin: 0;
        position: relative;
        top: 10rem;
    }
    
}

.slide-img-1{
    width: 100%;
    margin-left: 0;
    margin-right: 0.5rem;
    opacity: 0.6;
}

@media (min-width:500px) {
    .slide-img-1{
        width: 100%;
    }
}

.slide-img-2{
    width: 100%;
    margin-right: 0.5rem;
    opacity: 0.6;
}

@media (min-width:500px) {
    .slide-img-2{
        width: 100%;
    }
}

.slide-img-3{
    width: 100%;
    opacity: 0.6;
}

@media (min-width:500px) {
    .slide-img-3{
        width: 100%;
    }
}

.slide-text-container{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 14rem;
    position: relative;
    top: -0.5rem;
    overflow-x: scroll;
    text-decoration: none;

}

.slide-text-container::-webkit-scrollbar{
    height: 0;
}

.link-1{
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-2{
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-3{
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-text-container a{
    color: purple;
    font-size: 1.9rem;
    text-align: center;
    text-decoration: none;
}

.major-tom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2px;
    position: relative;
    top: -2.8rem;
}

.ground-control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 6rem;
}

@media (min-width: 375px) {
    .ground-control{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 6rem;
    }
    
}
*/
/*End Image carousel*/

/*Start Recent Project Gallery*/
.gallery-container{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20rem;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: -10%;
    top: 16rem;
}

@media (min-width: 500px) {
    .gallery-container{
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 32rem;
        margin: 0;
        padding: 0;
        position: relative;
        bottom: -42%;
        top: 45%;
    }
}

@media (min-width: 768px) {
    .gallery-container{
        background-color: red;
        width: 100%;
        height: 28rem;
        margin: 0;
        padding: 0;
        position: relative;
        bottom: -38%;
        top: 32%;
    }
}

.gallery-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 98%;
    height: 100%;
}
/*Start Recent Project Gallery*/

/*Start Footer*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem;
    background-color: burlywood;
}

footer div{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

footer img{
    width: 1.8rem;
    height: auto;
}
/*End Footer*/
