body{
    margin: 0;
    height: 100vh;
    background-color: slategrey;
}

header{
    margin: 0;
    position: fixed;
    top: 0;
    background-color: burlywood;
    width: 100%;
}

@media (min-width: 768px) {
    header{
        height: 8rem;
    }
}

header img{
    margin: 1.2rem;
    border-radius: 30%;
    width: 6rem;
    height: auto;
}

@media (min-width: 768px) {
    header img{
        transform: rotate(90deg);
        margin-left: 10%;
        position: relative;
        top: -32%;
    }
}

nav{
    position: absolute;
    top: 12%;
    right: 2%;
    font-size: 1.2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media (min-width:768px) {
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 65%;
        height: 4rem;
    }    
}

@media (min-width:768px) {
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        top: 20%;
        right: 2%;
    }    
}